* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
}

h1 {

    margin-top: 10%;
    margin-left: 15%;

    font-size: 300px;
    font-weight: 600;

    color: transparent;
    background-size: cover;

    /* background: linear-gradient(red, blueviolet,olivedrab) ; */
    background-image: url(https://media4.giphy.com/media/v1.Y2lkPTZjMDliOTUyeHRiNmJzN3V5amFnOWc0MTVrcDdqZGthNHZjOTd6YWY4Zjc4Ymc3diZlcD12MV9naWZzX3NlYXJjaCZjdD1n/3og0IQ29pE7zRwbh60/giphy-downsized.gif);
    /*  I want to ad the coloer on  the text not a baground  */
    background-clip: text;
    /* now i want to border to Text  */
    -webkit-text-stroke: 4px rgb(33, 19, 230);
    
    

}